.btn-custom {
    background-color: #a6d869  ;
    color: rgb(255, 255, 255) !important;
    border: none;
}

.btn-custom:hover {
    background-color: #b8e07f;
    color: white;
}

.btn-custom:active {
    background-color: #8bb55a  !important;
    color: white !important;
}

.custom-header {
    background-color: #9c69d8;
    border-radius: 0 0 12px 12px;
}

.custom-header-text {
    color: #ffffff !important;
}

.custom-number {
    background-color: #9c69d8;
    color: white;
}

.custom-color {
    border-radius: 12px;
    border-color: #9c69d8
}

.custom-color:hover {
    background-color: #9c69d8;
    color: white;
}

.btn-menu {
    background-color: white;
    color: #a6d869;
    border: 1px solid #a6d869;
}

.btn-menu:hover {
    background-color: #a6d869;
    color: white;
}

.btn-menu:active {
    background-color: #c45050 !important;
    color: white !important;
}

#logo {
    font-family: 'Righteous', cursive;
    font-size: 120%;    
    color: #FFD700 !important;
}

.slogan{
    font-size: 1.5rem;
    margin: 0.5rem !important; 
}

.text-auth {
    color: white !important;
    font-size: 0.775rem !important;
}
